@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Concert+One|Dangrek|Fredoka+One|Righteous');

body{
	font-family: "myriad pro";
	font-size: 16px;
	width: 100%;
	margin: 0 auto;
}

.chamadaUm, .chamadaDois, .chamadaTres {
    height: 760px;
    padding: 0px;
}

/*=============LOGIN==============*/
button{
    width: 100%;
    background-color: rgb(241, 132, 9);
    color: whitesmoke;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    display: none;
}
.modal-content{
    width: 277px;
    background-color: whitesmoke;
    margin: 7% auto;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    padding: 20px;
    animation: zoom 0.6s;
}
.modal-content
[type=submit], button {
    background-color: #8BC34A;
    border-radius: 5px;
    padding: 12px 0;
}
.modal-content a {
    width: 100%;
    background: #8bc34a;
    display: block;
    border-radius: 5px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.modal-container label {
    padding-bottom: 5px;
    display: block;
}
.modal-img{
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
.modal-img img{
    width: 150px;
    height: auto;
	border-radius: 100%;
}
.close{
    position: absolute;
    right: 0;
    background: #d6502f;
    padding: 8px 10px;
    border-radius: 50%;
    color: #ffa089;
    cursor: pointer;
}
input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
    margin-bottom: 10px;
    border-radius: 2px;
    box-sizing: border-box;
}
.login{
    width: 15%;
}

@keyframes zoom {
    from{
        transform: scale(0);;
    }
    to{
        transform: scale(1);
    }
}
@media (max-width: 480px){
    .modal-content {
        margin: 28% auto;
    }
}

/**/
.menu,.assinar{
	max-width: 1200px;
	margin: 0 auto;
}
.assinar{
	padding-top: 20px;
}
.site{
	width: 100%;
}
.banner-container {
    width: 100%;
}

.topo{
	background: #FFFFFF;
	-webkit-box-shadow: 2px 7px 5px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 7px 5px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 10;
}
.topo article{
	display: flex;
	justify-content: space-between;
}
.topo article h1{
	background: url( ../img/logo/logo-cinza.png) no-repeat;
	background-position-y: 10px;
	width: 30%;
	text-indent: -9999px;
	display: block;
	margin: 10px 0;
}
.topo article nav ul{
	display: flex;
	justify-content:space-around;
	/* padding-right: 55px; */
}
.topo article nav ul li{
	font-family: myriad pro;
	font-size: 1.5em;
	padding: 1.5em 0.7em;
}
.topo article nav ul li a{
	text-decoration: none;
	color: #000000;
	/* padding: 1em 0; */
}
.botaoConectar li{
	font-family: myriad pro;
	background: rgba(241,132,9,1.00);
	padding: 12px 20px 22px 21px!important;
	color: #FFFFFF;
	border-radius: 30px;
	height: 10px;
	margin-top: 27px;
	margin-right: 20px;
	margin-left: 10px;
}
.botaoConectar li a{
	color:rgba(255,255,255,1.00)!important;
}
.botaoAssinar li{
	font-family: myriad pro;
	border: 2px solid #FF9208;
	padding: 10px 21px 21px 21px!important;
	color: #FFFFFF;
	border-radius: 30px;
	height: 10px;
	margin-top: 27px;
}
.botaoAssinar li a{
	color:#FF9208!important;
}
.chamadaUm{
	display: flex;
	overflow: hidden;
	position: relative;
	height: 500px;
	padding: 15px 0;
	padding-bottom: 20%;
}
.chamadaUm h2{
	color:#F18409;
	font-size: 3.1em;
	margin-left: 10%;
	margin-top: 20%;
}
.chamadaUm p{
	font-family: "Century Gothic";
	font-size: 2em;
	margin-top: 3%;
    margin-right: 24%;
	margin-left: 10%;

}
.chamadaUm img{

margin-top: 4%;
}

.linha:before {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #fff;
    /*border-style: solid;*/
    border-width: 0 0 135px 100vw;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 0;
    z-index: 999;
}

/*========== QUemSOMOS===========*/
.quemSomos{
	display: flex;
	overflow: hidden;
	position: relative;
	height: 500px;
	padding: 15px 0;
}
.quemSomos h2{
	color:#F18409;
	font-size: 3.1em;
	margin-left: 10%;
	margin-top: 5%;
}
.quemSomos p{
	font-size: 2em;
	margin-top: 3%;
    margin-right: 24%;
	margin-left: 10%;

}



.quemSomos article:first-child {
    width: 75%;
}
.quemSomos article:last-child {
    width: 25%;
}
section.sobre {
    background: #ebebeb;
    padding-bottom: 15%;
    padding-top: 10%;
}
.sobre h2{
	color:#F18409;
	font-size: 3.1em;
	/* margin-left: 10%; */
	margin-top: -5%;
	text-align: center;
}
.sobre p{
	font-size: 2em;
	margin-top: 5%;
	margin-right: 20%;
	margin-left: 20%;
	text-align:justify;
}

.chamadaUm article:first-child {
    width: 60%;
}
.chamadaUm article:last-child {
    width: 40%;
}

.chamadaDois {
	background: #ebebeb4f;
	height: 500px;
	position: relative;
	padding: 15px 0px;
	overflow: hidden;
	padding-bottom: 20%;
}
.chamadaDois article:first-child {
    width: 30%;
}
.chamadaDois article:last-child {
    width: 70%;
}

section.chamadaDois img {
    width: 120%;
    /* margin: 0 auto; */
    margin-left: 10%;
    display: block;
    margin-top: 12%;
}
.chamadaDois h2{
	color:#F18409;
	font-size: 3.1em;
	margin-left: 17%;
	margin-top: 17%;
}
.chamadaDois p{
	font-size: 2em;
	margin-top: 3%;
	margin-right: 5%;
	margin-left: 17%;
}

.chamadaDois article {
    float: left;
}

/*==============PLANOS==============*/

.chamadatres h2 {
    color: #F18409;
    font-size: 5.1em;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 2%;
    margin-top: 15%;
    margin-bottom: 5%;
}

.chamadatres article {
    float: left;
    position: relative;
    width: 33.33%;
}
.chamadatres{
	padding-bottom:26%
}
.limpar {
    clear: both;
}

section.chamadatres {
    width: 900px;
    margin: 0 auto;
}


/* INÍCIO PLANOS*/

.modelo1 article h2{
	color: #FFAC39;
	font-size: 2.5em;
	margin-left: 97px;
	margin-top: 57px;
}
.modelo1{
	display: flex;
}

.modelo1 article p{
	width: 52%;
    font-size: 1.5em;
    margin-left: 97px;
	
}
.modelo1 img{
	/* margin-right: 118px; */
	margin-top: 94px;
}
.modelo2{
	display: flex;
	/*position: relative;
	left: 70%;*/
	background: #EBEBEB;
	padding-top: 3%;
    padding-bottom: 5%;
	margin-top: 5%;
}

.modelo2 article h2{
	display: flex;
	color: #FFAC39;
	font-size: 2.5em;
	margin-left: 39%;
}

.modelo2 article p{
	width: 52%;
	font-size: 1.5em;
	margin-left: 39%;
}

.modelo2 img{
	display: flex;
	margin-left: 29%;
	margin-top: 8%;
	/*position: relative;
	right: 438%;*/
}
.modelo3{
	display: flex;
	padding-top: 3%;
    padding-bottom: 5%;
	margin-top: 5%;
} 
.modelo3 article h2{
	color: #FFAC39;
	font-size: 2.5em;
	margin-left: 97px;
	margin-top: -43px;
}

.modelo3 article p{
	width: 52%;
    font-size: 1.5em;
    margin-left: 97px;
}
.modelo3 img{
	/* margin-right: 118px; */
	margin-top: -2px;
}



/*==============PLANOS==============*/
.notebook img{
	width: 177%;
    margin-left: -80%;
    margin-top: 20%;
}
.planos h2 {
    color: #F18409;
    font-size: 3.1em;
    text-align: center;
    margin-top: 3%;
}

.planos article {
    float: left;
    position: relative;
    width: 33.33%;
    margin-top: 110px;
}

.limpar {
    clear: both;
}

section.planos {
    width: 900px;
    margin: 0 auto;
    width: 1200px;
    margin: 0 auto;
    background-image: url(../img/aa.jpg);
    background-size: cover;
    height: 590px;
    overflow: hidden;
}

section.planos a {
    position: absolute;
    left: 0;
    transform: translate(155%, -65%);
    background: rgba(241,132,9,1.00);
    padding: 10px 20px 24px 21px!important;
    color: #FFFFFF;
    border-radius: 30px;
    height: 10px;
    z-index: 9;
    bottom: -15px;
    text-decoration: none;
}
.planos img{
	width: 100%;
	margin-left: -2%;
	margin-top: -20%;
	
}
.plano1 img{
	width: 50%;
    margin-left: 49%;
}
.plano1 a{
	margin-left: 31%;
}
.plano2 a{
	margin-left: 6%;
}
.plano3 a{
	margin-left: -18%;
}
.plano2 img{
	width: 70%;
	margin-left: 13%;
}
.plano3 img{
	width: 50%;
	margin-left: -3%;
	
}

.planos-valor article {
    padding: 0 15px;
    box-sizing: border-box;
}
.planoss {
    width: 100%;
    height: 400px;
    background: #efefef;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.planoss h5 {
    text-align: center;
    height: 54px;
    font-size: 35px;
    line-height: 60px;
    background: #00bd9c;
    color: #fff;
    border-bottom: 5px solid #00a184;
}

.planoss article {
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
	height: 50px;
}
.planoss .valor-planos {
    height: 100px;
}
.planoss article p {
	line-height: 51px;
	text-align: center;
}
.planoss .valor-planos > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #f18409;
    font-size: 60px;
}

.planoss .valor-planos i {
    font-size: 30px;
    position: relative;
    top: 1px;
    left: -5px;
}

.planoss .valor-planos > span span {
    font-size: 30px;
    position: relative;
    top: -13px;
}
.planoss a {
    padding: 8px 0;
    color: #FFFFFF;
    border-radius: 30px;
    width: 90px;
    margin: 0 auto;
    background: #f18409;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 25px;
    text-align: center;
}

.planoss footer {
    height: 90px;
    float: left;
    width: 100%;
}
/*==========RODAPE============*/
.rodape{
	background: #828282;
	-webkit-box-shadow: 2px 7px 5px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 7px 5px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	margin-top: 20px;
}

.rodape section {
    position: relative;
    height: 100px;
}
footer.rodape article {
    background: #828282;
    float: left;
}

footer.rodape section {
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    background: #828282;
    right: 0;
    left: 0;
}
article.logo {
    margin-top: 35px;
}
.copyright{
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 1%;
}
/*======= redes sociais ========*/
article.redes img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}
article.redes {
    margin-top: 25px;
	width: 100%;
	text-align: center;
}
/*==========ASSINAR============*/

button{width:100%;background-color:rgb(241, 132, 9);color:whitesmoke;border-radius:20px;border:none;padding:10px;font-size:15px;cursor:pointer;}
input[type="text"]{width:100%;height:40px;padding:10px;border:none;box-shadow:0 0 2px 0 rgba(0,0,0,.5);margin-bottom:10px;border-radius:2px;box-sizing:border-box;}
footer,nav,section{display:block;}
h1{font-size:2em;margin:.67em 0;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button,input{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}
[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText;}
*,::after,::before{box-sizing:inherit;}
h1,h2,p{margin:0;}
button{background:0 0;padding:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
ul{margin:0;}
*,::after,::before{border-width:0;border-style:solid;border-color: #ffffff;}
img{border-style:solid;}
[type=submit],button{border-radius:0;}
img{width: 100%;height:auto;}
button,input{font-family:inherit;}
input::-webkit-input-placeholder{color:inherit;opacity:.5;}
input:-ms-input-placeholder{color:inherit;opacity:.5;}
input::-ms-input-placeholder{color:inherit;opacity:.5;}
input::placeholder{color:inherit;opacity:.5;}
button{cursor:pointer;}
.container{width:100%;}
@media (min-width:576px){
.container{max-width:576px;}

}
@media (min-width:768px){
.container{max-width:768px;}
}
@media (min-width:992px){
.container{max-width:992px;}
}
@media (min-width:1200px){
.container{max-width:1200px;}
}
.list-reset{list-style:none;padding:0;}
.bg-grey-light{background-color:#dae1e7;}
.bg-grey-lighter{background-color:#f1f5f8;}
.bg-white{background-color:#fff;}
.bg-green{background-color:#38c172;}
.bg-blue{background-color: #f18409;}
.hover\:bg-black:hover{background-color:#22292f;}
.hover\:bg-green-dark:hover{background-color:#1f9d55;}
.border-black{border-color:#22292f;}
.border-grey-light {
    border-color: #efefef;
    border-width: 1px 0px;
    border-style: solid;
}
.border-blue{border-color:#3490dc;}
.border-blue-light{border-color:#6cb2eb;}
.rounded{border-radius:.25rem;}
.rounded-full{border-radius:9999px;}
.rounded-r{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;}
.rounded-l{border-top-left-radius:.25rem;border-bottom-left-radius:.25rem;}
.border-2{border-width:2px;}
.border-b-2{border-bottom-width:2px;}
.border-b-4{border-bottom-width:4px;}
.border-b{border-bottom-width:1px;}
.block{display:block;}
.inline-block{display:inline-block;}
.flex{display:flex;}
.flex-wrap{flex-wrap:wrap;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.flex-1{flex:1;}
.font-sans{font-family:system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;}
.font-normal{font-weight:400;}
.font-bold{font-weight:700;}
.h-full{height:100%;}
.leading-none{line-height:1;}
.leading-normal{line-height:1.5;}
.mx-auto{margin-left:auto;margin-right:auto;}
.ml-1{margin-left:.25rem;}
.mr-2{margin-right:.5rem;}
.mb-2{margin-bottom:.5rem;}
.ml-2{margin-left:.5rem;}
.mb-4{margin-bottom:1rem;}
.mb-6{margin-bottom:1.5rem;}
.mb-8{margin-bottom:2rem;}
.mr-10{margin-right:2.5rem;}
.mb-10{/* margin-bottom:2.5rem; */}
.mb-12{margin-bottom:3rem;}
.mb-16{margin-bottom:4rem;}
.-mx-4{margin-left:-1rem;margin-right:-1rem;}
.focus\:outline-none:focus{outline:0;}
.p-3{padding:.75rem;}
.p-4{padding:1rem;}
.p-10{padding:2.5rem;box-sizing: border-box;}
.py-2{padding-top:.5rem;padding-bottom:.5rem;}
.py-3{padding-top:.75rem;padding-bottom:.75rem;}
.px-3{padding-left:.75rem;padding-right:.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.py-8{padding-top:2rem;padding-bottom:2rem;}
.pb-2{padding-bottom:.5rem;}
.pt-8{padding-top:2rem;}
.pt-10{padding-top:2.5rem;}
.shadow-lg{box-shadow:0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);}
.text-center{text-align:center;}
.text-black{color:#22292f;}
.text-grey-darkest{color:#3d4852;}
.text-grey-darker{color:#606f7b;}
.text-grey-dark{color:#8795a1;}
.text-white{color:#fff;}
.text-blue{color:#3490dc;}
.hover\:text-grey-darkest:hover{color:#3d4852;}
.hover\:text-white:hover{color:#fff;}
.text-sm{font-size:.875rem;}
.text-lg{font-size:1.125rem;}
.text-xl{font-size:1.25rem;}
.text-2xl{font-size:1.5rem;}
.text-3xl{font-size:1.875rem;}
.text-5xl{font-size:3rem;}
.italic{font-style:italic;}
.underline{text-decoration:underline;}
.no-underline{text-decoration:none;}
.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.select-none{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.align-top{vertical-align:top;}
.w-1\/2{width:50%;}
.w-1\/3{width:33.33333%;}
.w-2\/3{width:66.66667%;}
.w-3\/4{width:75%;}
.w-1\/6{width:16.66667%;}
.w-5\/6{width:83.33333%;}
.w-full{width:100%;}
@media (max-width: 480px){
    .mob {
        width: 100%!important;
        display: block;
    }
}


/*==========MENU=========*/

#header {
    background: #fff;
    margin: 0 auto;
    padding: 1.5em 1em 1em;
    position: sticky;
    top: 59px;
    display: none;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #header {
      padding: 2em 1em 1em;
    }
  }
  #header .header-inner {
    max-width: 1024px;
    margin: 0 auto;
    height: 2.75em;
  }
  @media only screen and (max-width: 767px) {
    #header .header-inner {
      height: 2em;
    }
  }
  #header .navbar .logo {
    float: left;
  }
  @media only screen and (max-width: 767px) {
    #header .navbar .logo img {
      width: 135px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #header .navbar .logo img {
      width: 170px;
      margin-top: 0.25em;
    }
  }
  @media only screen and (min-width: 1024px) {
    #header .navbar .logo img {
      width: 250px;
    }
  }
  #header .navbar .menu {
    float: right;
    margin-top: 0.25em;
  }
  @media only screen and (max-width: 767px) {
    #header .navbar .menu {
      display: none;
    }
  }
  #header .navbar .menu ul {
    list-style-type: none;
  }
  #header .navbar .menu li {
    display: inline;
    padding: 0 .5em;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #header .navbar .menu li {
      padding: 0 .2em;
    }
  }
  
  #mobile-menu, #mobile-user {
    /* background: url("https://startersitev2.wmg-gardens.com/sites/startersitev2.wmg-gardens.com/files/201306/home-onepage-mobile_menu.png") no-repeat scroll right 0 transparent; */
    cursor: pointer;
    height: 1.25em;
    margin-top: 0.05em;
    float: right;
    width: 1.5625em;
    /* content: "\f0c9"; */
    /* font-family: "Font Awesome 5 Free"; */
    /* font-weight: 900; */
  }
  @media only screen and (min-width: 768px) {
    #mobile-menu, #mobile-user {
      display: none;
    }
  }
  #mobile-menu ul.mobile-menu, #mobile-menu ul.mobile-user, #mobile-user ul.mobile-menu, #mobile-user ul.mobile-user {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    z-index: 100000;
    display: none;
  }
  #mobile-menu ul.mobile-menu li, #mobile-menu ul.mobile-user li, #mobile-user ul.mobile-menu li, #mobile-user ul.mobile-user li {
    background: #f7f7f7;
    border-top: 1px solid #cdcdcd;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }
  #mobile-menu ul.mobile-menu li a, #mobile-menu ul.mobile-user li a, #mobile-user ul.mobile-menu li a, #mobile-user ul.mobile-user li a {
    display: block;
    text-decoration: none;
    color: #909090;
    width: initial;
  }
  
  #mobile-user {
    background: url("https://s.cdpn.io/17920/head_2.png") no-repeat scroll right 0 transparent;
    height: 21px;
    margin-right: 35px;
    margin-top: -1px;
  }
  
  .hat {
    background: #000;
    padding: 1em;
    height: 1.15em;
    padding: 0.5em 1em;
  }
  @media only screen and (max-width: 767px) {
    .hat {
      display: none;
    }
  }
  .hat .hat-inner {
    max-width: 1024px;
    margin: 0 auto;
  }
  .hat ul.log-in {
    list-style-type: none;
    float: right;
    width: 220px;
  }
  .hat ul.log-in ul.show {
    position: absolute;
    top: 43px;
    display: none;
    z-index: 1;
  }
  .hat ul.log-in ul.show li {
    background: none repeat scroll 0 0 #f9f9f9;
    display: block;
    padding: 8px 12px;
  }
  .hat ul.log-in .show2 {
    display: none;
  }
  .hat ul.log-in li {
    display: inline;
  }
  .hat ul.log-in a {
    font-size: 0.75em;
    padding: 0 .5em;
    color: #999;
  }
  .hat ul.log-in a:hover {
    color: #ED3D3D;
  }
  .hat .first {
    border-right: 2px solid #999;
    padding-right: .5em;
  }
  
  div#mobile-menu:before {
      content: "\f0c9";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 30px;
      line-height: 25px;
  }

  @media (max-width: 480px) {
    #header {
        display:block;
    }
    .menu {
        display:none;
    }

}